@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

ol,em,
ul,
li,
body,
table,
th,
td,
button,
select,
input,
textarea,
a,
b {
    font-family: 'Lato', 'Noto Sans KR', sans-serif;
    -webkit-text-size-adjust: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    text-decoration-line: none;
}

.s {
    width: 100%;
}

.area {
    padding: 0 35px;
}

header {
    position: absolute;
    width: 100%;
}

.header-inner-wrap {
    position: fixed;
    z-index: 9998;
    height: auto;
    width: 100%;
}

.down {
    background-color: white;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.head-inner {
    position: relative;
    height: auto;
    margin: 0px auto;
    padding: 0 35px;
}

header .header-inner-wrap .head-inner .logo {
    position: relative;
    z-index: 100;
    float: left;
    width: auto;
    margin: 0;
}

header .header-inner-wrap .head-inner .logo img {
    width: auto;
    height: 170px;
}

header .header-inner-wrap .head-inner .logo::after {
    clear: both;
}

.clearfix:after {
    clear: both;
    display: block;
    content: "";
}

.header-ulbox {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.header-lang {
    position: relative;
    width: 100%;
    float: left;
    height: 100%;
    z-index: 100;
}

.header-ulbox .header-lang .header-lang-ul {
    width: 220px;
    height: 80px;
    padding: 0;
    border-radius: 60px;
    list-style: disc;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 590px;
}

.header-ulbox .header-lang .header-lang-ul li {
    width: 50%;
    height: 100%;
    margin: 0;
    text-align: center;
    padding: 0;
    float: left;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-ulbox .header-lang .header-lang-ul .none-select a {
    color: black;
}

.header-ulbox .header-lang ul li::after {
    clear: both;
}

.header-ulbox .header-lang .header-lang-ul .select {
    border-radius: 0 60px 60px 0;
    background: linear-gradient(to right, rgb(43, 182, 116) 0%, rgb(12, 169, 180) 100%);
}

.header-ulbox .header-lang .header-lang-ul .select a {
    color: white;
}

.header-menu-btn {
    position: relative;
    z-index: 9999;
    width: auto;
    height: 65px;
    top: -117px;
    right: 5px;
    margin-left: 860px;
    background-color: transparent;
    ;
    border: none;
}

.header-menu-btn .line {
    height: 5px;
    margin: 0;
    margin-bottom: 10px;
    width: 50px;
    color: black;
    background-color: #999;
}

.header-menu-btn {
    color: none;
}

.main-visual {
    padding-bottom: 5px;
}

.main-visual-txt-con {
    text-align: center;
    margin-top: -35%;
    position: absolute;
    top: 650px;
    left: 0px;
    width: 100%;
    z-index: 1;
}

.area-box {
    max-width: 1376px;
    margin: 0px auto;
    top: 10px;
}

.main-visual-txt-con .main-visual-txt1 {
    font-size: 25px;
    margin-bottom: 30px;
    color: black;
    font-weight: 900;
    letter-spacing: 18px;
}

.main-visual-txt-con .main-visual-txt2 {
    font-size: 112px;
    margin-bottom: 2%;
    margin-top: 20;
    line-height: 1;
    color: black;
    font-weight: 900;
}

.main-visual-txt-con .main-visual-txt2 .fc-green {
    font-style: normal;
    font-weight: 900;
    color: #2bb673;
}

.main-visual-txt-con .main-visual-txt2 .fc-blue {
    font-style: normal;
    font-weight: 900;
    color: #0ba9b5;
}

.more-view-btn img {
    top: -50px;
    top: 702px;
    right: 747px;
    position: absolute;
}

.main-visual-m-img img {
    width: 100%;
    vertical-align: middle;
}

.main-container {
    width: 100%;

}

.main-content {
    padding-top: 30px;
    padding-bottom: 150px;
}

.main-content1 {
    width: 100%;
    padding-top: 30px;
    border: 1px solid blue;
}

.m-main-company-list li {
    width: 50%;
    float: left;
}

.m-main-company-list li::after {
    clear: both;
}

.m-main-company-list .li-01 .company-inner {
    background: url(../images/main/main_con01_img01_m.jpg) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.main-content2 {
    width: 100%;
    border: 1px solid blue;
}

.contents2-title {
    width: 100%;
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 25px;
}

.contents2-sub {
    width: 100%;
    text-align: center;
    font-size: 31px;
    margin: 0;
}

.main-process {
    margin-top: 65px;
}

.main-process .process-line {
    position: relative;
    top: 100;
}

.main-process .process-line hr {
    line-height: 50px;
    width: 1000px;
    right: 50px;
    overflow-x: hidden;
    background-color: #ddd;
    position: relative;
}
.main-process .process-line .first-line {

top: 18;
}
.main-process .process-line .second-line {top: 257;}
.main-process ul {

padding-left: 80px;
}

.main-process ul li {
    position: relative;
    width: 17%;
    float: left;
    height: 250px;
    text-align: center;
    margin-right: 60px;
}

.main-process ul li:after {
    clear: both;
}

.main-process .icon {

width: 100%;

display: flex;

align-items: center;

text-align: center;

justify-content: center;

margin-bottom: 50px;
}

.main-process ul li img {
    width: 60px;
    height: 70px;
}

.position1 {
    margin: 0;
    width: 150px;
}

.position1 .dot {
}

.position1 .position-sub {
    font-size: 25px;
    font-weight: 500;
}
.position1 .position-sub em{
    font-size: 25px;
}

.main-content3 {
    width: 100%;
    border: 1px solid blue;
}



footer {
    width: 100%;
    list-style: none;
    background-color: #fff;
}

.footer-inner {
    padding: 0 35px;
}

.footer-left-con {
    float: left;
}

.footer-left-con::after {
    clear: both;
}

.foot-menu {
    float: left;
    padding: 0;
}

.foot-menu:after {
    clear: both;
}

.foot-menu li {
    float: left;
    position: relative;
    padding-left: 30px;
    line-height: 1;
}

.foot-menu li::after {
    clear: both;
}

.foot-menu li:first-child {
    padding-left: 0;
}

.foot-menu li a {
    font-size: 30px;
    color: black;
}

.foot-menu li a p {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.footerBottom {
    padding: 65px 0 25px;
}

.footerBottom .tit {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.25px;
    color: #222;
    margin-bottom: 30px;
}

.foot-sub {
    font-size: 30px;
}

.foot-sub a {
    color: black;
}

.foot-sub li {
    margin-bottom: 20px;
}

.footer-infomation-contact-container {
    width: 100%;
    display: flex;
}

.footer-infomation {
    width: 50%;
}

.foot-sub li span {
    color: #aaa;
    margin-right: 25px;
}

.foot-sub li .ceo {
    margin-right: 114px;
}

.foot-sub li .company {
    margin-right: 47px;
}

.footer-contact {
    width: 50%;
}

.footer-location {
    float: left;
    margin-top: 30px;
    width: 100%;
}

.footer-location::after {
    clear: both;
}

.footer-location li {
    font-size: 30px;
    margin: 0 0 50px 0;
    color: black;
}

.footer-location li span {
    color: #aaa;
}
.dot{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: relative;
    background-color:#ddd;
    top: -30;
    right: -65;
}
.footer-copyright {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 0.25px;
    color: #222;
    font-weight: 400;
}

.footer-copyright b {
    color: #0ba9b5;
    font-weight: 600;
}
