@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

ol,
em,
ul,
li,
body,
table,
th,
td,
button,
select,
input,
textarea,
a,
b {
    font-family: 'Lato', 'Noto Sans KR', sans-serif;
    -webkit-text-size-adjust: none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    text-decoration-line: none;
}

.wrap {
    margin: 0;
    overflow-x: hidden;
}

.s {
    width: 100%;
}

.area {
    padding: 0 15px;
}

header {
    position: absolute;
    width: 100%;
}

.header-inner-wrap {
    position: fixed;
    z-index: 9998;
    height: auto;
    width: 100%;
}

.down {
    background-color: white;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.head-inner {
    position: relative;
    height: auto;
    margin: 0px auto;
    padding: 0 15px;
}

header .header-inner-wrap .head-inner .logo {
    position: relative;
    z-index: 100;
    float: left;
    width: auto;
    margin: 0;
}

header .header-inner-wrap .head-inner .logo img {
    width: auto;
    height: 60px;
}

header .header-inner-wrap .head-inner .logo::after {
    clear: both;
}

.clearfix:after {
    clear: both;
    display: block;
    content: "";
}

.header-ulbox {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.header-lang {
    position: relative;
    width: 100%;
    float: left;
    height: 100%;
    z-index: 100;
}

.header-lang :after {
    clear: both;
}

.header-ulbox .header-lang .header-lang-ul {
    width: 80px;
    height: 30px;
    padding: 0;
    border-radius: 60px;
    list-style: disc;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 230px;
}

.header-ulbox .header-lang .header-lang-ul li {
    width: 50%;
    height: 100%;
    margin: 0;
    text-align: center;
    padding: 0;
    float: left;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-ulbox .header-lang .header-lang-ul .none-select a {
    color: black;
}

.header-ulbox .header-lang ul li::after {
    clear: both;
}

.header-ulbox .header-lang .header-lang-ul .select {
    border-radius: 0 60px 60px 0;
    background: linear-gradient(to right, rgb(43, 182, 116) 0%, rgb(12, 169, 180) 100%);
}

.header-ulbox .header-lang .header-lang-ul .select a {
    color: white;
}

.header-menu-btn {
    position: relative;
    z-index: 9999;
    width: auto;
    height: auto;
    top: -45px;
    right: -215px;
    margin-left: 120px;
    background-color: transparent;
    border: none;
}

.header-menu-btn .line {
    height: 2px;
    margin: 0;
    margin-bottom: 5px;
    width: 25px;
    color: black;
    background-color: #999;
}

.header-menu-btn {
    color: none;
}

.main-visual {
    width: 100%;
    padding-bottom: 5px;
}

.main-visual-txt-con {
    text-align: center;
    margin-top: -35%;
    position: absolute;
    top: 650px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: 1;
}

.area-box {
    max-width: 1376px;
    margin: 0px auto;
    position: relative;
    top: -390px;
}

.main-visual .main-visual-slick-slides .main-visual-01-01 {
    display: block;
}

.main-visual .main-visual-slick-slides .main-visual-01-02 {
    display: none;
}

.slide1 .main-visual-txt-con .main-visual-txt1 {
    font-size: 5px;
    margin-bottom: 30px;
    color: black;
    font-weight: 900;
    letter-spacing: 8px;
}

.slide1 .main-visual-txt-con .main-visual-txt2 {
    font-size: 42px;
    margin-bottom: 2%;
    margin-top: 10;
    line-height: 1;
    color: black;
    font-weight: 900;
}

.slide1 .main-visual-txt-con .main-visual-txt2 .fc-green {
    font-style: normal;
    font-weight: 900;
    color: #2bb673;
}

.slide1 .main-visual-txt-con .main-visual-txt2 .fc-blue {
    font-style: normal;
    font-weight: 900;
    color: #0ba9b5;
}

.main-visual-txt-con .main-visual-txt2 .fc-green {
    font-style: normal;
    font-weight: 900;
}

.main-visual-txt-con .main-visual-txt2 .fc-blue {
    font-style: normal;
    font-weight: 900;
}

.slide2 .main-visual-txt-con .main-visual-txt1 {
    font-size: 5px;
    margin-bottom: 30px;
    color: white;
    font-weight: 900;
    letter-spacing: 8px;
}

.slide2 .main-visual-txt-con .main-visual-txt2 {
    font-size: 42px;
    margin-bottom: 2%;
    margin-top: 10;
    line-height: 1;
    color: white;
    font-weight: 900;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    height: 500px;
    padding: 0;
}

.more-view-btn img {
    top: -50px;
    top: 702px;
    right: 747px;
    position: absolute;
}

.main-visual-m-img img {
    width: 100%;
    vertical-align: middle;
}

.main-container {
    width: 100%;

}

.main-content {
    padding-top: 30px;
    padding-bottom: 150px;
}

.main-content1 {
    width: 100%;
    padding-top: 100px;
}

.m-main-company-list {
    width: 100%;
}

.m-main-company-list li {
    width: 50%;
    height: 200px;
    float: left;
}

.m-main-company-list .li-01 {
    background: url(http://www.novel-works.com/images/main/main_con01_img01_m.jpg) center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.m-main-company-list .li-02 {
    background-color: #2bb673;
}

.m-main-company-list .li-03 {
    background-color: #0ba9b5;
}

.m-main-company-list .li-05 {
    margin-bottom: 150px;
}

.m-main-company-list li::after {
    clear: both;
}

.m-main-company-list .li-01 .txt-con {
    position: absolute;
    top: 650;
    left: 40;
    width: auto;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
}

.m-main-company-list .li-02 .txt-con {
    position: absolute;
    top: 665;
    left: 210;
    width: auto;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.m-main-company-list .li-02 .txt-con .big-sub {
    margin: 0;
}

li .txt-con .middle-line {
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 10px 0 20px;
}

.m-main-company-list .li-02 .txt-con .small-sub {
    margin: 0;
    position: absolute;
    width: auto;
    color: #fff;
    font-weight: 600;
}

.m-main-company-list .li-02 .txt-con .small-sub1 {
    top: 300;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
}

.m-main-company-list .li-02 .txt-con .small-sub2 {
    top: 400;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
}

.m-main-company-list .li-03 .txt-con {
    position: absolute;
    top: 838;
    left: 30;
    width: auto;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.m-main-company-list .li-03 .txt-con ul li {
    width: 40%;
    float: left;
    font-size: 10px;
    line-height: 1.6;
    height: 30px;
    font-weight: 400;
    margin-bottom: -13px;
    letter-spacing: -0.5px;
}

.li-03-clearfix {
    padding: 0 0px 0 0;
}

.m-main-company-list .li-04 .txt-con {
    margin: 0;
    position: absolute;
    top: 778;
    left: 60;
    display: none;
    width: auto;
    display: block;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
}

.m-main-company-list .li-04 .txt-con .fc-green {
    font-weight: 700;
    color: #2bb673;
}

.m-main-company-list .li-04 .txt-con .fc-blue {
    font-weight: 700;
    color: #0ba9b5;
}

.li-04 .txt-con p {
    font-size: 15;
    position: relative;
    right: -160;
    top: 70;
}

.m-main-company-list .li-04 .txt-con span {
    display: none;
}

.contents2-title {
    width: 100%;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 25px;
}

.contents2-sub {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin: 0;
}

.main-process {
    margin-top: 65px;
}

.main-process .process-line {
    position: relative;
    top: 100;
}

.main-process .process-line hr {
    line-height: 50px;
    width: 1000px;
    right: 50px;
    overflow-x: hidden;
    background-color: #ddd;
    position: relative;
}

.main-process .process-line .first-line {

    top: -23;
}

.main-process .process-line .second-line {
    top: 217;
}

.main-process ul {

    padding-left: px;
}

.main-process ul li {
    position: relative;
    width: 17%;
    float: left;
    height: 250px;
    text-align: center;
    margin-right: 15px;
    margin-left: 11px;
}

.main-process ul li:after {
    clear: both;
}

.main-process .icon {

    width: auto;

    display: flex;

    align-items: center;

    text-align: center;

    justify-content: center;

    margin-bottom: 50px;
}

.main-process ul li img {
    width: 30px;
    height: 30px;
}

.position1 {
    margin: 0;
    width: 150px;
}

.position1 .position-sub {
    font-size: 15px;
    font-weight: 500;
}

.position1 .position-sub em {
    font-size: 15px;
}

.main-content3 {
    width: 100%;
    padding-top: 100px;
}

.main-development-tit {
    font-size: 17px;
    font-weight: 700;
    padding: 0 15px;
}

.main-development-tit .fc-green {
    color: #2bb673;
    font-weight: 700;
}

.main-development-tit .fc-blue {
    color: #0ba9b5;
    font-weight: 700;
}

.li-inner {
    position: static;
    padding-left: 0;
}

.content3-clearfix {
    padding: 55px 80px 0;
}

.content3-clearfix .prd {
    display: block;
    width: 28%;
    float: left;
    text-align: center;
    position: static;
}

.content3-clearfix .prd img {
    width: 200px;
}

.content3-clearfix .txt-group {
    float: left;
    width: 65%;
    right: -50;
    top: -25;
    position: relative;
}

.content3-clearfix .txt-group .txt-01 {
    font-size: 115px;
    font-weight: 900;
    margin: 0;
    width: 100%;
    padding-right: 0;
}

.content3-clearfix .txt-group .txt-02 {
    padding-top: 10px;
    width: 100%;
    padding-right: 0;
    font-size: 32px;
}

.txt-03 {
    padding-top: 30px;
    width: 100%;
    padding-right: 0;
    font-size: 132px;
    text-align: center;
    font-weight: 900;
    margin: 0;
}

footer {
    width: 100%;
    list-style: none;
    background-color: #fff;
}

.footer-inner {
    padding: 0 35px;
}

.footer-left-con {
    float: left;
}

.footer-left-con::after {
    clear: both;
}

.foot-menu {
    float: left;
    padding: 0;
}

.foot-menu:after {
    clear: both;
}

.foot-menu li {
    float: left;
    position: relative;
    padding-left: 30px;
    line-height: 1;
}

.foot-menu li::after {
    clear: both;
}

.foot-menu li:first-child {
    padding-left: 0;
}

.foot-menu li a {
    font-size: 11px;
    color: black;
}

.foot-menu li a p {
    font-size: 11px;
    font-weight: 600;
    margin: 0;
    margin-top: 4;
    color: #0ba9b5;
}

.footerBottom {
    padding: 65px 0 25px;
}

.footerBottom .tit {
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 0.25px;
    color: #222;
    margin-bottom: 30px;
}

.foot-sub {
    font-size: 10px;
}

.foot-sub a {
    color: black;
}

.foot-sub li {
    margin-bottom: 20px;
}

.footer-infomation-contact-container {
    width: 100%;
    display: flex;
}

.footer-infomation {
    width: 50%;
}

.foot-sub li span {
    color: #aaa;
    margin-right: 25px;
}

.foot-sub li .ceo {
    margin-right: 54px;
}

.foot-sub li .company {
    margin-right: 32px;
}

.footer-contact {
    width: 50%;
    padding-left: 20;
}

.footer-location {
    float: left;
    margin-top: 30px;
    width: 100%;
}

.footer-location::after {
    clear: both;
}

.footer-location li {
    font-size: 10px;
    margin: 0 0 20px 0;
    color: black;
}

.footer-location li span {
    color: #aaa;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: relative;
    background-color: #ddd;
    top: -30;
    right: -22;
}

.footer-copyright {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 5px;
    letter-spacing: 0.25px;
    color: #222;
    font-weight: 400;
}

.footer-copyright b {
    color: #0ba9b5;
    font-weight: 600;
}

.slick-next {
    right: 50px;
}

.slick-prev {
    left: 10px;
}

.slick-next,
.slick-prev {
    top: 98%;
    z-index: 999;
}

.slick-next:before {
    font-size: 65px;
    line-height: 1;
    color: #0ba9b5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
    font-size: 65;
    line-height: 1;
    opacity: .75;
    color: #2bb673;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media all and (min-width:375px) and (max-width:768px) {
    .li-01-pc {
        display: none;
    }

    .m-main-company-list .li-05 {
        width: 100%;
    }

    .m-main-company-list .li-04 {
        background: url(http://www.novel-works.com/images/main/main_con01_img04_m.jpg) center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .m-main-company-list .li-05 {
        background: url(http://www.novel-works.com/images/main/main_con01_img05_m.jpg) center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        margin-bottom: 150px;
    }
}

@media all and (min-width:768px) and (max-width:992px) {
    .li-01-pc {
        display: none;
    }

    header {
        position: absolute;
        width: 100%;
    }

    .header-inner-wrap {
        position: fixed;
        z-index: 9998;
        height: auto;
        width: 100%;
    }

    .down {
        background-color: white;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-timing-function: ease;
        transition-duration: 0.2s;
        transition-timing-function: ease;
    }

    .head-inner {
        position: relative;
        height: auto;
        margin: 0px auto;
        padding: 0 35px;
    }

    header .header-inner-wrap .head-inner .logo {
        position: relative;
        z-index: 100;
        float: left;
        width: auto;
        margin: 0;
    }

    header .header-inner-wrap .head-inner .logo img {
        width: auto;
        height: 70px;
    }

    header .header-inner-wrap .head-inner .logo::after {
        clear: both;
    }

    .clearfix:after {
        clear: both;
        display: block;
        content: "";
    }

    .header-ulbox {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
    }

    .header-lang {
        position: relative;
        width: 100%;
        float: left;
        height: 100%;
        z-index: 100;
    }

    .header-lang :after {
        clear: both;
    }

    .header-ulbox .header-lang .header-lang-ul {
        width: 110px;
        height: 40px;
        padding: 0;
        border-radius: 60px;
        list-style: disc;
        background-color: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        margin-left: 650px;
    }

    .header-ulbox .header-lang .header-lang-ul li {
        width: 50%;
        height: 100%;
        margin: 0;
        text-align: center;
        padding: 0;
        float: left;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-ulbox .header-lang .header-lang-ul .none-select a {
        color: black;
    }

    .header-ulbox .header-lang ul li::after {
        clear: both;
    }

    .header-ulbox .header-lang .header-lang-ul .select {
        border-radius: 0 60px 60px 0;
        background: linear-gradient(to right, rgb(43, 182, 116) 0%, rgb(12, 169, 180) 100%);
    }

    .header-ulbox .header-lang .header-lang-ul .select a {
        color: white;
    }

    .header-menu-btn {
        position: relative;
        z-index: 9999;
        width: auto;
        top: -45px;
        right: -20px;
        margin-left: 770px;
        background-color: transparent;
        border: none;
    }

    .header-menu-btn .line {
        height: 2px;
        margin: 0;
        margin-bottom: 4px;
        width: 25px;
        color: black;
        background-color: #999;
    }

    .header-menu-btn {
        color: none;
    }

    .main-visual-slick {
        margin-bottom: 400px;
    }

    .main-visual-txt-con {
        text-align: center;
        margin-top: -35%;
        position: absolute;
        top: 650px;
        left: 0px;
        width: 100%;
        z-index: 1;
    }

    .area-box {
        max-width: 1376px;
        margin: 0px auto;
        top: 10px;
    }

    .slide1 .main-visual-txt-con .main-visual-txt1 {
        font-size: 15px;
        margin-bottom: 30px;
        color: black;
        font-weight: 900;
        letter-spacing: 10px;
    }

    .slide1 .main-visual-txt-con .main-visual-txt2 {
        font-size: 75px;
        margin-bottom: 2%;
        margin-top: 20;
        line-height: 1;
        color: black;
        font-weight: 900;
    }

    .slick-next {
        right: 66px;
    }

    .slick-prev {
        left: 35px;
    }

    .slick-next,
    .slick-prev {
        top: 102%;
        z-index: 999;
    }

    .slick-next:before {
        font-size: 70px;
        line-height: 1;
        color: #0ba9b5;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .slick-prev:before {
        font-size: 70;
        line-height: 1;
        opacity: .75;
        color: #2bb673;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .main-content1 {
        width: 100%;
        padding-top: 60px;
    }

    .m-main-company-list .li-01 .txt-con {
        position: absolute;
        top: 1505;
        left: 150;
        width: auto;
        font-size: 25px;
        color: #fff;
        font-weight: 600;
    }

    .m-main-company-list .li-02 .txt-con {
        position: absolute;
        top: 1535;
        left: 560;
        width: auto;
        font-size: 25px;
        color: #fff;
        font-weight: 600;
    }

    .m-main-company-list .li-03 .txt-con {
        position: absolute;
        top: 1955;
        left: 110;
        width: auto;
        font-size: 25px;
        color: #fff;
        font-weight: 600;
    }

    .m-main-company-list .txt-con .li-02-tit {
        margin-bottom: 0;
    }

    .m-main-company-list .li-04 .txt-con {
        margin: 0;
        position: absolute;
        top: 1958;
        left: 610;
        width: auto;
        font-size: 30px;
        color: #fff;
        font-weight: 600;
    }

    .contents2-title {
        width: 100%;
        font-size: 30px;
        text-align: center;
        font-weight: 900;
        margin-bottom: 25px;
    }

    .contents2-sub {
        width: 100%;
        text-align: center;
        font-size: 16px;
        margin: 0;
    }

    .main-process {
        margin-top: 65px;
    }

    .main-process .process-line {
        position: relative;
        top: 100;
    }

    .main-process .process-line hr {
        line-height: 50px;
        width: 1000px;
        right: 50px;
        overflow-x: hidden;
        background-color: #ddd;
        position: relative;
    }

    .main-process ul li img {
        width: 40px;
        height: 39px;
    }

    .main-process .process-line .first-line {

        top: -13;
    }

    .main-process .process-line .second-line {
        top: 227;
    }

    .position1 .position-sub {
        font-size: 15px;
        font-weight: 500;
    }

    .position1 .position-sub em {
        font-size: 15px;
    }

    .main-process ul li {
        margin-right: 66px;
    }

    .main-development-tit {
        font-size: 20px;
    }

    .content3-clearfix .txt-group .txt-01 {
        font-size: 85px;
    }

    .content3-clearfix .txt-group .txt-02 {
        font-size: 15px;
    }

    .content3-clearfix .txt-group .txt-02 {
        padding-right: 0;
        font-size: 13px;
        margin: 0;
    }

    .txt-03 {
        font-size: 52px;
    }

    .foot-menu li a {
        font-size: 20px;
        color: black;
    }

    .foot-menu li a p {
        font-size: 20px;
    }

    .footerBottom .tit {
        font-size: 20px;
    }

    .foot-sub li {
        font-size: 15px;
    }

    .foot-sub li .ceo {
        margin-right: 66px;
    }

    .foot-sub li .company {
        margin-right: 35px;
    }

    .foot-sub li {
        margin-bottom: 5px;
    }

    .footer-location li {
        font-size: 15px;
        margin: 0 0 15px 0;
    }

    .footer-copyright {
        font-size: 15px;
    }
}

@media all and (min-width:992px) {
    .main-visual .main-visual-slick-slides .main-visual-01-01 {
        display: none;
    }

    .main-visual .main-visual-slick-slides .main-visual-01-02 {
        width: 100%;
        display: block;
        height: 100%;
        background-size: cover !important;
    }

    .m-main-company-list li {
        height: auto;
        float: left;
    }

    .m-main-company-list .li-01 {
        background: url(http://novel-works.com/images/main/main_con01_img01.jpg) center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        height: 100%;
        width: 40%;
    }

    .m-main-company-list .li-02 {
        background: url(http://www.novel-works.com/images/main/main_con01_img04.jpg) center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        height: 25%;
        width: 60%;
    }

    .m-main-company-list .li-03 {
        background-color: #fff;
        height: 25%;
        width: 60%;
    }

    .m-main-company-list .li-04 {
        height: 25%;
        background: url(http://www.novel-works.com/images/main/main_con01_img05.jpg) center center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        width: 60%;
    }

    .m-main-company-list .li-05 {
        height: 25%;
        margin-bottom: 150px;
        background-color: #fff;
        width: 60%;
    }

    .m-main-company-list .li-01 .txt-con {
        position: absolute;
        top: 1275;
        left: 90;
        width: auto;
        font-size: 25px;
        color: #fff;
        font-weight: 600;
    }

    .m-main-company-list .li-02 .txt-con {
        position: absolute;
        top: 1480;
        left: 480;
        width: auto;
        font-size: 25px;
        color: black;
        font-weight: 600;
    }

    .m-main-company-list .li-03 .txt-con {
        position: absolute;
        top: 1835;
        left: 450;
        width: auto;
        font-size: 25px;
        color: black;
        font-weight: 600;
    }

    .m-main-company-list .txt-con .li-02-tit {
        margin-bottom: 0;
    }

    .m-main-company-list .li-04 .txt-con {
        margin: 0;
        position: absolute;
        top: 1315;
        left: 440;
        width: auto;
        font-size: 20px;
        color: #fff;
        font-weight: 500;
    }

    .li-01-pc {
        display: block;
    }

    .li-01-pc-ul {
        font-size: 15px;
    }

    .li-01-pc-ul li {
        margin-bottom: 10px;
    }

    .li-01-pc-span {
        display: inline-block;
        width: 30px;
        height: 2px;
        background-color: #fff;
        margin: 15px 0 25px;
    }

    .li-03-clearfix {
        padding: 0 0 0 0;
    }

    .li-03-line {
        display: inline-block;
        width: 40px;
        height: 2px;
        position: relative;
        top: 25;
        right: 33;
        background-color: #0ba9b5;
        margin: 15px 0 25px;
    }

    .m-main-company-list .li-04 .txt-con p {
        margin: 0;

    }

    .main-process .process-line .second-line {
        display: none;
    }

    .main-process ul li img {
        width: 25px;
        height: 25px;
    }

    .position1 .position-sub {
        font-size: 12px;
        font-weight: 500;
    }

    .main-process ul li {
        margin-right: 23px;
        width: 10%;
    }

    .dot {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        position: relative;
        background-color: #ddd;
        top: -5;
        right: -30;
        margin-bottom: 20px
    }

    .main-process ul {
        padding-left: 0;
    }

    .more-view-btn img {
        top: 202px;
        right: 347px;
        position: absolute;
    }

    .area-box {
        max-width: 1376px;
        margin: 0px auto;
        top: 10px;
    }

    .slide1 .main-visual-txt-con .main-visual-txt1 {
        font-size: 15px;
        margin-bottom: 30px;
        color: black;
        font-weight: 900;
        letter-spacing: 10px;
        line-height: 1;
        text-align: left;
        position: relative;
        right: 330;
    }

    .slide1 .main-visual-txt-con .main-visual-txt2 {
        font-size: 75px;
        margin-bottom: 2%;
        margin-top: 20;
        margin-left: 20px;
        line-height: 1;
        text-align: left;
        color: black;
        font-weight: 900;
    }
}
